# Downloading the pyspark dataset

In [9]:
tweets_df = spark.read.csv('/user1/JoeBidenTweets.csv', header=True, inferSchema=True)
tweets_df.head()

Row(id='361388562', timestamp='2007-10-24 22:45', url='https://twitter.com/JoeBiden/status/361388562', tweet='Tune in 11:30 ET tomorrow for a live webcast of Families USA Presidential Forum on health care: http://presidentialforums.health08.org/', replies='19', retweets='5', quotes='17', likes='11')

# Getting the tweets with maximum tweets

In [10]:
# Create a temporary view of the DataFrame
tweets_df.createOrReplaceTempView("tweets")

# Write the SQL query to find the tweet with maximum likes
result = spark.sql("SELECT * FROM tweets WHERE likes = (SELECT MAX(likes) FROM tweets)")

# View the query result
result.show()

+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|                 id|       timestamp|                 url|               tweet|replies|retweets|quotes|likes|
+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|1149155853095919616|2019-07-11 03:18|https://twitter.c...|Today, we celebra...|     70|     174|    10|  999|
+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+

# Getting top five liked tweets

In [11]:
# Create a temporary view of the DataFrame
tweets_df.createOrReplaceTempView("tweets")

# Write the SQL query to get the top five tweets with maximum likes
result = spark.sql("SELECT * FROM tweets ORDER BY likes DESC LIMIT 5")

# View the query result
result.show()

+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|                 id|       timestamp|                 url|               tweet|replies|retweets|quotes|likes|
+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|1149155853095919616|2019-07-11 03:18|https://twitter.c...|Today, we celebra...|     70|     174|    10|  999|
|1144700495807881223|2019-06-28 20:14|https://twitter.c...|I’ve fought my he...|   1435|    1772|   199| 9984|
| 864879534096629760|2017-05-17 16:25|https://twitter.c...|LGBT rights are h...|    247|    2995|   157| 9980|
|1243255073817460741|2020-03-26 19:14|https://twitter.c...|Live from our hom...|    537|    2290|    66| 9975|
| 958553443429478400|2018-01-31 04:12|https://twitter.c...|Proud to call you...|   1480|   18794|   513|99747|
+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+

# Some queries regarding the dataset

In [15]:
# Create a temporary view of the DataFrame
tweets_df.createOrReplaceTempView("tweets")

# Perform queries using PySpark SQL
# Example 1: Retrieve tweets with a specific number of likes
query1 = """
SELECT * 
FROM tweets 
WHERE likes = 100
"""

result1 = spark.sql(query1)
result1.show()

# Example 2: Calculate the total number of likes
query2 = """
SELECT SUM(likes) AS total_likes
FROM tweets
"""

result2 = spark.sql(query2)
result2.show()

# Example 3: Sort tweets based on the number of likes
query3 = """
SELECT *
FROM tweets
ORDER BY likes DESC
"""

result3 = spark.sql(query3)
result3.show()



# Example 5: Perform text analysis - count the occurrences of specific words
query4 = """
SELECT word, COUNT(*) AS word_count
FROM (
    SELECT EXPLODE(SPLIT(tweet, ' ')) AS word
    FROM tweets
) temp
GROUP BY word
"""


query4 = spark.sql(query4)
result4.show()

+------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|                id|       timestamp|                 url|               tweet|replies|retweets|quotes|likes|
+------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|260911167852142592|2012-10-24 01:10|https://twitter.c...|“I’ve got news fo...|     96|     527|     1|  100|
|263097044196028416|2012-10-30 01:56|https://twitter.c...|.@BarackObama and...|     54|     215|     1|  100|
|456901642026508288|2014-04-17 21:06|https://twitter.c...|RT @TheDemocrats:...|     34|      87|     0|  100|
|509016433851121665|2014-09-08 16:32|https://twitter.c...|Read the VP's op-...|     41|      83|     2|  100|
+------------------+----------------+--------------------+--------------------+-------+--------+------+-----+

+------------+
| total_likes|
+------------+
|1.51694453E8|
+------------+

+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|                 id|       timestamp|                 url|               tweet|replies|retweets|quotes|likes|
+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
|1149155853095919616|2019-07-11 03:18|https://twitter.c...|Today, we celebra...|     70|     174|    10|  999|
|1144700495807881223|2019-06-28 20:14|https://twitter.c...|I’ve fought my he...|   1435|    1772|   199| 9984|
| 864879534096629760|2017-05-17 16:25|https://twitter.c...|LGBT rights are h...|    247|    2995|   157| 9980|
|1243255073817460741|2020-03-26 19:14|https://twitter.c...|Live from our hom...|    537|    2290|    66| 9975|
| 958553443429478400|2018-01-31 04:12|https://twitter.c...|Proud to call you...|   1480|   18794|   513|99747|
|1151926065310384133|2019-07-18 18:45|https://twitter.c...|Rebuilding Americ...|    113|     228|    13|  997|
|1310670618795347970|2020-09-28 20:00|https://twitter.c...|President Trump c...|   4669|   20826|   763|99684|
|1215808474501844992|2020-01-11 01:31|https://twitter.c...|Firefighters repr...|    272|    1735|    62| 9961|
|1231615953198145536|2020-02-23 16:25|https://twitter.c...|There is nothing ...|    954|    1904|   175| 9960|
|1217275855401103360|2020-01-15 02:42|https://twitter.c...|If we don’t write...|     96|     255|    17|  996|
|1154454908482945024|2019-07-25 18:14|https://twitter.c...|Governor @Ricardo...|     59|     211|    11|  995|
|1144408605120245760|2019-06-28 00:54|https://twitter.c...|Hey everyone — @T...|    171|     153|    18|  995|
| 841062645990072321|2017-03-12 23:05|https://twitter.c...|Jill and I were h...|    179|    1701|   117| 9945|
|1216081341965590529|2020-01-11 19:36|https://twitter.c...|What kind of nati...|    891|    2540|   166| 9943|
| 574315632818286593|2015-03-07 21:08|https://twitter.c...|Stand up for voti...|    267|     742|     9|  994|
|1291869982196809728|2020-08-07 22:53|https://twitter.c...|I believe every A...|   6655|   18137|  1099|99128|
|1194070842059214849|2019-11-12 01:54|https://twitter.c...|Looking forward t...|    187|     178|    16|  991|
|1138511521800249344|2019-06-11 18:21|https://twitter.c...|Thank you for fol...|    110|     108|     6|  991|
| 253571565919293440|2012-10-03 19:05|https://twitter.c...|“Keep the faith”:...|     23|     127|     2|   99|
| 247364015905447937|2012-09-16 15:59|https://twitter.c...|“I’m in love with...|     24|     134|     2|   99|
+-------------------+----------------+--------------------+--------------------+-------+--------+------+-----+
only showing top 20 rows

+------------+----------+
|        word|word_count|
+------------+----------+
|       still|        98|
|         few|        89|
|        hope|        88|
|        some|        70|
|       those|       177|
|   protect.”|         1|
|       trail|        19|
|      2012.’|         1|
|   standards|         5|
|  night—find|         1|
|families—get|         1|
|          By|         8|
|   recognize|        20|
|      #WHCD?|         1|
|  """There's|         2|
|    recommit|        23|
|    incoming|         1|
|   viewpoint|         1|
|      fight,|         3|
|     persist|         1|
+------------+----------+
only showing top 20 rows

# Creating scemas with this dataset

In [5]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Define the schema for the DataFrame
schema = StructType([
    StructField("id", StringType(), nullable=True),
    StructField("tweet", StringType(), nullable=True),
    StructField("url", StringType(), nullable=True),
    
    StructField("replies", IntegerType(), nullable=True),
    StructField("quotes", IntegerType(), nullable=True),
    StructField("retweets", IntegerType(), nullable=True)
])

# Apply the schema to the DataFrame
tweets_df = spark.read.csv('/user1/JoeBidenTweets.csv', header=True, schema=schema)

In [6]:
tweets_df.show()

+------------------+----------------+--------------------+-------+------+--------+
|                id|           tweet|                 url|replies|quotes|retweets|
+------------------+----------------+--------------------+-------+------+--------+
|         361388562|2007-10-24 22:45|https://twitter.c...|   null|    19|       5|
|         543984392|2007-12-29 15:35|https://twitter.c...|   null|    13|      16|
|189287227321356289|2012-04-09 09:42|https://twitter.c...|   null|    21|      82|
|189287350034104320|2012-04-09 09:43|https://twitter.c...|   null|   144|      76|
|189339650610036736|2012-04-09 13:11|https://twitter.c...|   null|    10|      54|
|189343279140184065|2012-04-09 13:25|https://twitter.c...|   null|    16|      52|
|189383473717460992|2012-04-09 16:05|https://twitter.c...|   null|   114|     471|
|189456416917032960|2012-04-09 20:55|https://twitter.c...|   null|    13|      29|
|189712253187145728|2012-04-10 13:51|https://twitter.c...|   null|    21|     217|
|189742771387637760|2012-04-10 15:52|https://twitter.c...|   null|     8|      21|
|189773314288402432|2012-04-10 17:54|https://twitter.c...|   null|  null|      16|
|189813040856825856|2012-04-10 20:32|https://twitter.c...|   null|    26|      26|
|190129116622761984|2012-04-11 17:28|https://twitter.c...|   null|    18|      29|
|190146175008112640|2012-04-11 18:35|https://twitter.c...|   null|     7|      11|
|190172245975502848|2012-04-11 20:19|https://twitter.c...|   null|    28|     443|
|190198707449372673|2012-04-11 22:04|https://twitter.c...|   null|     1|       8|
|190221525117448192|2012-04-11 23:35|https://twitter.c...|   null|    25|      64|
|190454419035398145|2012-04-12 15:00|https://twitter.c...|   null|    22|      89|
|190468063236337664|2012-04-12 15:54|https://twitter.c...|   null|     5|      19|
|190468245638221824|2012-04-12 15:55|https://twitter.c...|   null|     2|      12|
+------------------+----------------+--------------------+-------+------+--------+
only showing top 20 rows

2023-05-25 11:44:44,602 WARN csv.CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 8, schema size: 6
CSV file: hdfs://localhost:9000/user1/JoeBidenTweets.csv

# Extracting hashtages

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType
import re

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

# Load the dataset into a DataFrame
df = spark.read.csv("/user1/JoeBidenTweets.csv", header=True, inferSchema=True)

# UDF for extracting hashtags
def extract_hashtags(tweet):
    hashtags = re.findall(r'#(\w+)', tweet)
    return hashtags

# Register UDF
extract_hashtags_udf = udf(extract_hashtags, ArrayType(StringType()))

# Apply UDF to extract hashtags
df_hashtags = df.select(explode(extract_hashtags_udf("tweet")).alias("hashtag"))

# Show the extracted hashtags
df_hashtags.show()

+-----------+
|    hashtag|
+-----------+
|BuffettRule|
|BuffettRule|
|BuffettRule|
|     Exeter|
|BuffettRule|
|BuffettRule|
|BuffettRule|
|BuffettRule|
|BuffettRule|
|BuffettRule|
|      Gen44|
|BuffettRule|
|BuffettRule|
|      Gen44|
|Latinos2012|
|      Gen44|
|       VAWA|
|       VAWA|
|       VAWA|
|  Obama2012|
+-----------+
only showing top 20 rows